{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'driver/taxicalc.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'dataload/fareinfo.css' %}" />

<section>
    <h2>Fare: {{ fare_info.id }}</h2>
    <table>
        <tr>
            <th>Passenger Count</th>
            <th>Distance</th>
            <th>Type</th>
            <th>Fare</th>
            <th>Extra Charge</th>
            <th>MTA Tax</th>
            <th>Tip</th>
            <th>Tolls</th>
            <th>E-Hail Fee</th>
            <th>Improvement Surcharge</th>
            <th>Total Cost</th>
            <th>Payment Type</th>
        </tr>
        <tr>
            <td>{{ fare_info.passenger_count }}</td>
            <td>{{ fare_info.trip_distance }}</td>
            <td>{{ fare_info.trip_type }}</td>
            <td>${{ fare_info.fare_amount }}</td>
            <td>${{ fare_info.extra }}</td>
            <td>${{ fare_info.mta_tax }}</td>
            <td>${{ fare_info.tip_amount }}</td>
            <td>${{ fare_info.tolls_amount }}</td>
            <td>{{ fare_info.ehail_fee }}</td>
            <td>${{ fare_info.improvement_surcharge }}</td>
            <td>${{ fare_info.total_amount }}</td>
            <td>{{ fare_info.payment_type }}</td>
        </tr>
    </table>
</section>