{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'driver/taxicalc.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'driver/boroughs.css' %}" />

<section>
    <h3>This is the average fare information for each borough per week:</h3>
    {% if averages %}
        {% for borough, weeks in averages.items %}
            <h4>{{ borough }}</h4>
            <table>
                <tr>
                    <th>Week</th>
                    <th>Average Fare</th>
                </tr>
                {% for week, fare in weeks.items %}
                    <tr>
                        <td>{{ week }}</td>
                        <td>${{ fare }}</td>
                    </tr>
                {%  endfor %}
            </table>
        {% endfor %}
    {% else %}
        <p>The info is not available</p>
    {% endif %}
</section>

{#<section>#}
{#    <h3>This is the average fare information for each borough per week:</h3>#}
{#    {% if averages %}#}
{#        <table>#}
{#            <tr>#}
{#                <th>Borough</th>#}
{#                <th>Fare</th>#}
{#            </tr>#}
{#            {% for borough, count in ordered_counts %}#}
{#                <tr>#}
{#                    <td>{{ borough }}</td>#}
{#                    <td>{{ fare }}</td>#}
{#                </tr>#}
{#            {%  endfor %}#}
{#        </table>#}
{#    {% else %}#}
{#        <p>The info is not available</p>#}
{#    {% endif %}#}
{#</section>#}
