{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'driver/taxicalc.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'driver/boroughs.css' %}" />

<section>
    <h3>This is the total fare value for each day of week {{ week }}:</h3>
    {% if days %}
        <table>
            <tr>
                <th>Day</th>
                <th>Total Fares</th>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>${{ days.Sunday }}</td>
            </tr>
            <tr>
                <td>Monday</td>
                <td>${{ days.Monday }}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>${{ days.Tuesday }}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>${{ days.Wednesday }}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>${{ days.Thursday }}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>${{ days.Friday }}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>${{ days.Saturday }}</td>
            </tr>
        </table>
    {% else %}
        <p>The info is not available</p>
    {% endif %}
</section>
