{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'driver/taxicalc.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'driver/recent.css' %}" />

<h1>New York City Green Taxi Info</h1>

<b>Please select what you would like to view:</b>
<ul>
    <li><a href="recent">View last 100 fares</a></li>
    <li><a href="boroughs">View all time highest traffic borough</a></li>
    <li><a href="boroughs/22">View highest traffic borough for week 22</a></li>
    <li><a href="boroughs/23">View highest traffic borough for week 23</a></li>
    <li><a href="boroughs/24">View highest traffic borough for week 24</a></li>
    <li><a href="boroughs/25">View highest traffic borough for week 25</a></li>
    <li><a href="boroughs/26">View highest traffic borough for week 26</a></li>
    <li><a href="borough/average/Manhattan">View the average fare for Manhattan by week (ROLL UP)</a></li>
    <li><a href="borough/average/Bronx">View the average fare for Bronx by week (ROLL UP)</a></li>
    <li><a href="borough/average/Queens">View the average fare for Queens by week (ROLL UP)</a></li>
    <li><a href="borough/average/Brooklyn">View the average fare for Brooklyn by week (ROLL UP)</a></li>
    <li><a href="borough/average/Staten">View the average fare for Staten by week (ROLL UP)</a></li>
    <li><a href="day/23">View the fare totals for each day of week 23 (DRILL DOWN)</a></li>
    <li><a href="day/24">View the fare totals for each day of week 24 (DRILL DOWN)</a></li>
    <li><a href="day/25">View the fare totals for each day of week 25 (DRILL DOWN)</a></li>
    <li><a href="day/26">View the fare totals for each day of week 26 (DRILL DOWN)</a></li>
</ul>